﻿
@{
    ViewBag.Title = "ReadExcelUsingEpplus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Read Excel Using Epplus</h2>
<div class="row">
    <a class="btn btn-info" id="btnDownloadHelp" href="@Url.Action("DownloadHelp")">Download File for Info</a>
</div>

@*@using (Html.BeginForm("ReadExcel", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <input type="file" id="dataFile" name="upload" />
        </div>
        <div class="form-group">
            <input type="submit" id="btnUpload" name="btnupload" value="Upload" class="btn btn-default"/>
        </div>
    }*@

<div class="form-group">
    <input type="file" id="upload" name="upload" />
</div>
<div class="form-group">
    <input type="button" id="btnUpload" name="btnupload" value="Upload" class="btn btn-default" />
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

<script>
    $('#btnUpload').click(function () {

        // Checking whether FormData is available in browser
        if (window.FormData !== undefined) {

            var fileUpload = $("#upload").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            
            $.ajax({
                url: '/Home/ReadExcelWithAjax',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    toastr.success(result);
                },
                error: function (err) {
                    toastr.error(err.statusText);
                }
            });
        } else {
            toastr.error("Yüklenmek istenen dosya tipi desteklenmiyor.");
        }
    });

</script>